.wrapper {
  margin: auto;
  width: 350px;
  height: 200px;
  box-shadow: 3px 1px 10px 4px rgb(233, 220, 220);
}
.title {
  padding: 40px 10px;
  text-align: left;
  margin: 20px;
}
.input {
  font-size: 20px;
  padding: 10px;
  border: none;
}
